@import "../variables";

@top-section-elems-margin-bottom: 12px;

.custom-grid {
	position: relative;
	
	.table {
		margin-bottom: 0;
	}
	
	.griddle {
        tbody:first-of-type {
            border-bottom: 2px solid #ddd;
        }

		.no-data-col {
			text-align: center;
			font-size: 1.2em;
		}
		
		.top-section {
			.griddle-filter {
				width: 100% !important;

                .page-size-selector  {
                    margin-bottom: @top-section-elems-margin-bottom;
                    float: right;

                    .form-control {
                        display: inline-block;
                    }
                }

                .search-block  {
                    margin-right: 12px;
                    margin-bottom: @top-section-elems-margin-bottom;
                    float: left;
                }

                .only-checked {
                    margin-top: 6px;
                    margin-bottom: @top-section-elems-margin-bottom;
                    float: left;
                }

                @media (max-width: @tablet) {
                    .search-block {
                        width: 150px;
                    }
                }
			}
		}

		.grid {
			table-layout: auto !important;
			
			.checkbox-column, .icons-columns {
				width: 30px;
				min-width: 20px;
			}
			
			td {
				padding-top: 1px !important;
				padding-bottom: 1px !important;
				vertical-align: middle !important;
			}

            th {
				padding-top: 2px !important;
				padding-bottom: 2px !important;
				vertical-align: top !important;
            }

            tr.selectable {
                cursor: pointer;
            }

            tr.selected td {
                background-color: #94d6e9 !important;
            }
		}
		
		.griddle-footer {
			div {
				min-height: 24px !important;
			}
			
			.griddle-previous, .griddle-page, .griddle-next{
				margin-top: 3px !important;
			}
		}
	}
	
	.loader {
		position: absolute;
		left: 50%;
		margin-left: auto;
		margin-right: auto;
	}
}





